/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --color-front: black;
    --color-back: #ad281e;

    /* opacity */

    /* transitions */
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-back);
    color: var(--color-front);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: var(--color-front);
    color: white;
    text-shadow: none;
}

::selection {
    background: var(--color-front);
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 36px;
    line-height: 48px;
    margin: 0 0 24px;
}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 24px;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    color: black;
    outline-color: black;
    outline-width: medium;
    outline-offset: 2px;
    text-decoration: none;
}

a:visited,
a:active {
    color: black;
    text-decoration: none;
}

a:hover,
a:focus {
    color: red;
    text-decoration: none;
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: gray;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.o-layout {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.o-layout__item {
    flex-basis: 100%;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
    font-size: 32px;
    line-height: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: auto;
    color: #fafafa;
}

/*
    Component: Sun
    ---
    The sun
*/

.c-svg {
    fill: #fafafa;
    height: 46px;
    width: 46px;
}

/*
    Component: App
    ---
    Main app wrapper
*/

.c-app{

    min-height: 100vh;
    padding: 2rem 3rem 2rem 2rem;
}

.c-app__summary{
    font-size: 28px;
    line-height: 40px;
}

.c-image{
    max-width: 300px;
}

.grid-container {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    width: 95vw;
}

.grid-item {
    background-color: white;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.11);
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 70%;
    position: relative;
    transition: all 1s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: red;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

.c-loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media(max-width: 1200px){
    .grid-container{
        grid-template-columns: auto auto auto;
    }

    .c-logo{
        font-size: 24px;
    }

    .c-svg{
        width: 38px;
        height: 38px;
    }
    .popup{
        width: 60%;
    }
}

@media(max-width: 900px) {
    .grid-container {
        grid-template-columns: auto auto ;
    }

    .c-logo {
        font-size: 20px;
    }

    .c-svg {
        width: 26px;
        height: 26px;
    }

    .c-image{
        max-width: 250px;
    }
}

@media(max-width: 600px) {
    .grid-container {
        grid-template-columns: auto;
    }
    .c-image{
        max-width: 200px;
    }
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: Mute
    Mute with opacity
*/

.u-1-of-2 {
    flex-basis: calc(100% / 2) !important;
}

.u-1-of-3 {
    flex-basis: calc(100% / 3) !important;
}

.u-2-of-3 {
    flex-basis: calc(100% / 3 * 2) !important;
}

.u-1-of-4 {
    flex-basis: calc(100% / 4) !important;
}

.u-3-of-4 {
    flex-basis: calc(100% / 4 * 3) !important;
}

.u-1-of-5 {
    flex-basis: calc(100% / 5) !important;
}

.u-2-of-5 {
    flex-basis: calc(100% / 5 * 2) !important;
}

.u-3-of-5 {
    flex-basis: calc(100% / 5 * 3) !important;
}

.u-4-of-5 {
    flex-basis: calc(100% / 5 * 4) !important;
}

.u-1-of-6 {
    flex-basis: calc(100% / 6) !important;
}

.u-5-of-6 {
    flex-basis: calc(100% / 6 * 5) !important;
}

@media (min-width: 576px) {
    .u-1-of-2-bp1 {
        flex-basis: calc(100% / 2) !important;
    }

    .u-1-of-3-bp1 {
        flex-basis: calc(100% / 3) !important;
    }

    .u-2-of-3-bp1 {
        flex-basis: calc(100% / 3 * 2) !important;
    }

    .u-1-of-4-bp1 {
        flex-basis: calc(100% / 4) !important;
    }

    .u-3-of-4-bp1 {
        flex-basis: calc(100% / 4 * 3) !important;
    }

    .u-1-of-5-bp1 {
        flex-basis: calc(100% / 5) !important;
    }

    .u-2-of-5-bp1 {
        flex-basis: calc(100% / 5 * 2) !important;
    }

    .u-3-of-5-bp1 {
        flex-basis: calc(100% / 5 * 3) !important;
    }

    .u-4-of-5-bp1 {
        flex-basis: calc(100% / 5 * 4) !important;
    }

    .u-1-of-6-bp1 {
        flex-basis: calc(100% / 6) !important;
    }

    .u-5-of-6-bp1 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 768px) {
    .u-1-of-2-bp2 {
        flex-basis: calc(100% / 2) !important;
    }

    .u-1-of-3-bp2 {
        flex-basis: calc(100% / 3) !important;
    }

    .u-2-of-3-bp2 {
        flex-basis: calc(100% / 3 * 2) !important;
    }

    .u-1-of-4-bp2 {
        flex-basis: calc(100% / 4) !important;
    }

    .u-3-of-4-bp2 {
        flex-basis: calc(100% / 4 * 3) !important;
    }

    .u-1-of-5-bp2 {
        flex-basis: calc(100% / 5) !important;
    }

    .u-2-of-5-bp2 {
        flex-basis: calc(100% / 5 * 2) !important;
    }

    .u-3-of-5-bp2 {
        flex-basis: calc(100% / 5 * 3) !important;
    }

    .u-4-of-5-bp2 {
        flex-basis: calc(100% / 5 * 4) !important;
    }

    .u-1-of-6-bp2 {
        flex-basis: calc(100% / 6) !important;
    }

    .u-5-of-6-bp2 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 992px) {
    .u-1-of-2-bp3 {
        flex-basis: calc(100% / 2) !important;
    }

    .u-1-of-3-bp3 {
        flex-basis: calc(100% / 3) !important;
    }

    .u-2-of-3-bp3 {
        flex-basis: calc(100% / 3 * 2) !important;
    }

    .u-1-of-4-bp3 {
        flex-basis: calc(100% / 4) !important;
    }

    .u-3-of-4-bp3 {
        flex-basis: calc(100% / 4 * 3) !important;
    }

    .u-1-of-5-bp3 {
        flex-basis: calc(100% / 5) !important;
    }

    .u-2-of-5-bp3 {
        flex-basis: calc(100% / 5 * 2) !important;
    }

    .u-3-of-5-bp3 {
        flex-basis: calc(100% / 5 * 3) !important;
    }

    .u-4-of-5-bp3 {
        flex-basis: calc(100% / 5 * 4) !important;
    }

    .u-1-of-6-bp3 {
        flex-basis: calc(100% / 6) !important;
    }

    .u-5-of-6-bp3 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

@media (min-width: 1200px) {
    .u-1-of-2-bp4 {
        flex-basis: calc(100% / 2) !important;
    }

    .u-1-of-3-bp4 {
        flex-basis: calc(100% / 3) !important;
    }

    .u-2-of-3-bp4 {
        flex-basis: calc(100% / 3 * 2) !important;
    }

    .u-1-of-4-bp4 {
        flex-basis: calc(100% / 4) !important;
    }

    .u-3-of-4-bp4 {
        flex-basis: calc(100% / 4 * 3) !important;
    }

    .u-1-of-5-bp4 {
        flex-basis: calc(100% / 5) !important;
    }

    .u-2-of-5-bp4 {
        flex-basis: calc(100% / 5 * 2) !important;
    }

    .u-3-of-5-bp4 {
        flex-basis: calc(100% / 5 * 3) !important;
    }

    .u-4-of-5-bp4 {
        flex-basis: calc(100% / 5 * 4) !important;
    }

    .u-1-of-6-bp4 {
        flex-basis: calc(100% / 6) !important;
    }

    .u-5-of-6-bp4 {
        flex-basis: calc(100% / 6 * 5) !important;
    }
}

/*------------------------------------*\
#STATES
\*------------------------------------*/

/*
    Change the theme using CSS vars.
*/

/* Night version: just switch the light and dark vars */

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}

.is-night {
    --color-front: black;
    --color-back: #ad281e;
}